DB_PORT=5432
DB_NAME=movieappdb
DB_USER=movieapp
DB_PASSWORD=movieapp

# Backend
BACKEND_PORT=8080
JWT_SECRET=wUaqWKbqqsKt0TnqTRkBfoy0HJJGRyWQ7OrAyKhezjO
JWT_EXPIRATION=300000
TMDB_API_URL=https://api.themoviedb.org
TMDB_API_KEY=dcc0f60d0e8f115e7510364439150dde

# Frontend
FRONTEND_PORT=5173
API_URL=https://localhost:8080/api
